@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h2>Resultado de la Evaluación</h2>
<p>Tu calificación: <strong>@ViewBag.Puntaje / @ViewBag.Total</strong></p>

<a class="btn btn-primary" href="/Cursos">Volver a cursos</a>
